.title-first{
    font-family: $kaushan-script;
    color: $text-color;
    margin-left: 533px;
    font-size: 24px;
    margin-top: 68px;
}
.title-second{
    font-family: $montserrat-font;
    color: $text-color;
    font-size: 30px;
    margin-left: 460px;
}
.img{
    margin-left: 570px;
}
.accommodation{
    margin-left: 484px;
}