$logo-color: #95E1D3;
$menu-link-color: #F38181;
$text-color: #333333;
$paragraph-color: #B6B6B6;
$montserrat-font: "Montserrat", sans-serif;
$kaushan-script: "Kaushan Script", cursive;
$roboto-font: "Roboto", sans-serif;
