.title-first{
    font-family: $kaushan-script;
    color: $text-color;
    font-size: 24px;
    margin-top: 68px;
}
.title-second{
    font-family: $montserrat-font;
    color: $text-color;
    font-size: 30px;
}
.img{
    margin-left: 570px;
}
.accommodation{
    margin-left: 484px;
}
@media (max-width: 480px){
    .title-second{
        margin-left: 0;
        text-align: center;
    }
    .title-first{
        margin-left: 0;
    }
    .img{
        margin-left: 0;
        margin: 0 auto;
        display: block;
    }
    .title-first{
        text-align: center;
    }
}